html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: Poppins !important;
}

body {
      background: url(back.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.logo {
      line-height: 40px;
      float: left;
      margin: 1.2em 0 0 2.2em;
}

.nav {
      line-height: 40px;
      margin: 1.2em;
      position: absolute;
      right: 0;
}

.nav ul li {
      list-style: none;
      display: inline-block;
      color: #fff;
      padding-right: 36px;
}

.nav a {
     color : #fff;
     text-decoration: none;
}

.nav a:hover {
      color: #fff;
      text-decoration: none;
}

.container {
    max-width: 1140px
    margin: auto;
    position: relative;
    min-height: 1.5px
}


.social-media {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
}

.social-media ul li {
      list-style: none;
      color: #fff;
      padding-top: 20px;
}

.side-strip {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -4em;
      transform: rotate(90deg);
      color: #fff;
      letter-spacing: 4px;
}

.header {
      position: absolute;
      top: 38%;
      left: 46%;
      transform: translate(-50%, -50%);
}

.header h1 {
      color: #fff;
      font-weight: bolder;
}

.header p {
      color: #fff;
      font-weight: lighter;
}

.header button {
      margin-top: 12px;
      border: none;
      padding: 16px 40px;
      background: #fff;
      color: #000;
      letter-spacing: 4px;
      font-weight: 600;
      font-size: 12px;
}

.header a {
     color : #000;
     text-decoration: none;
}

.header a:hover {
      color: #000;
      text-decoration: none;
}
.overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #fff;
      top: 0%:
}

.overlay m {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.team {
    min-height: 180vh;
    padding: 20% 10% 10% 10%;
    background: url(back.jpg) no-repeat 50% 50%;

}

.team .card {
  width: 20%;
  float: left;
  background-color: rgba(0,0,0,0) ;
}

.team .card .box{
  padding: 15px;
  background-color: hsl(0,0,40);
  border-radius: 20px;
}

.team .card .box img{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.team .card .box h4{
    font-size: 20px;
    margin: auto;
    color : #fff;
    text-align: center;
    font-weight: 600;
}

.team .card .box h5{
    font-size: 16px;
    margin: 0px 0px 5px;
    text-align: center;
    color : #f3f3f3;
    font-weight: 450;
}



/* Rsponsiveness*/


@media(max-width: 991px){
  .team .card {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 585px){
  .team .card {
    width: 100%;
  }
}
